{
  "presets": [
    ["env", {"modules": false}],
    "react"
	],
	"compact": true,
  "env": {
  	"development": {
  		"plugins": [
		    "transform-object-rest-spread"
		  ]
  	},
  	"production": {
  		"plugins": [
  			"transform-object-rest-spread"
  		]
  	}
  }
}
