{
  "presets": [
    ["env", {"modules": false}],
    "react"
	],
	"compact": true,
  "env": {
  	"development": {
  		"plugins": [
		    "transform-object-rest-spread"
		  ]
  	},
  	"production": {
  		"plugins": [
  			"transform-object-rest-spread"
  		]
		},
		"test": {
			"plugins": [
				"transform-object-rest-spread",
				"transform-es2015-modules-commonjs"
			]
		}
  }
}
